.custom-place-marker {
  position: relative;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  transition: .3s ease-in-out;
}

.custom-place-marker:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.custom-profile-marker {}